@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff","Account",FormMethod.Post,new { id ="logoff"}))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("welcome:"+User.Identity.GetUserName(),"Index","Manage")
            </li>
            <li>
                <a href="javaScript:document.getElementById('logoff').submit()">Logout</a>
            </li>
        </ul> 
    }
}
else
{

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Account/Login">
                <i class="glyphicon glyphicon-user"></i>
                Login
            </a>
        </li>
        <li>
            <a href="~/Account/Register">
                <i class="glyphicon glyphicon-lock"></i>
                Register
            </a>
        </li>

    </ul>

}